""" https://www.cyberwizard.io/posts/the-ultimate-ideavim-setup/

set ideajoin
set scrolloff=5
set linenumber
set showmode
set showcmd
set visualbell
set clipboard+=unnamed
set number relativenumber

set ignorecase
set smartcase
set incsearch
set hlsearch

let mapleader = " "
let g:EasyMotion_override_acejump = 0 

set surround
set highlightedyank
set sneak
set nerdtree
set which-key
set notimeout
set easymotion

" Open NERDTree (use q to exit)
map <leader>x :NERDTreeToggle<CR>

" Folding
map <leader>zc :action CollapseAllRegions<CR>
map <leader>zo :action ExpandAllRegions<CR>

" Window splits
map <leader>wv <Action>(SplitVertically)
map <leader>wh <Action>(SplitHorizontally)
map <leader>wu <Action>(Unsplit)
map <leader>wm <Action>(MoveEditorToOppositeTabGroup)

" File navigation
map <leader>ff <action>(GotoFile)
map <leader>fr <action>(RecentFiles)
map <leader>fc <action>(FindInPath)
map <leader>fl <action>(RecentLocations)
map <leader>fs <action>(NewScratchFile)
